.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
build/
Thumbs.db
source/img/page-desktop.jpg
source/img/page-mobile.jpg
source/img/page-tablet.jpg
source/pixel-glass
source/img/mishka-form-desktop.jpg
source/img/mishka-form-mobile.jpg
source/img/mishka-form-tablet.jpg
source/img/mishka-index-desktop.jpg
source/img/mishka-index-mobile.jpg
source/img/mishka-index-tablet.jpg
