.catalog {
  background-color: #ffffff;

  @media (min-width: $bp-desktop) {
    padding-top: 45px;
  }
}

.catalog__inner {
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 0;
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media (min-width: $bp-tablet) {
    margin-top: 67px;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
