.categories {
  font-size: 19px;
  line-height: 24px;
}

.categories__list {
  @include list-reset;

  @media (min-width: 768px) {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }
}

.categories__link {
  position: relative;

  display: block;
  padding: 27px 120px 29px 30px;

  text-align: left;
  color: #ffffff;

  &--toy {
    background-color: #56c3b2;
  }

  &--interior {
    background-color: #63d1bb;
  }

  &::after {
    content: "";
    position: absolute;

    opacity: 0.5;
  }

  &--interior::after {
    top: 24px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    top: 22px;
    right: 28px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}
