.categories {
  font-size: 19px;
  line-height: 24px;
}

.categories__list {
  @include list-reset;
}

.categories__link {
  display: block;
  padding: 30px 30px;

  color: #ffffff;

  background-color: #63d1bb;

  &--darker {
    background-color: #56c3b2;
  }
}
