.categories {
  font-size: 19px;
  line-height: 24px;
}

.categories__list {
  @include list-reset;
}

.categories__link {
  position: relative;

  display: block;
  padding-top: 28px;
  padding-right: 120px;
  padding-bottom: 28px;

  text-align: left;
  color: #ffffff;

  &::after {
    content: "";
    position: absolute;

    opacity: 0.5;
  }

  &--interior::after {
    top: 24px;
    right: 6px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    top: 22px;
    right: 0;

    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
  }
}

.categories__item {
  background-color: #63d1bb;

  &--darker {
    background-color: #56c3b2;
  }
}
