.contacts {
  position: relative;

  margin-bottom: 40px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 57px;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 56px;
      right: 50px;

      width: 50px;
      height: 85px;

      @media (min-width: $bp-desktop) {
        top: 155px;
        left: 104px;
      }
    }
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 104px;
  }
}

.contacts__title {
  margin: 0;
  margin-top: 41px;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-bottom: 48px;
    padding-top: 73px;

    font-size: 43px;
    line-height: 50px;
    text-indent: -5px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 500px;
    padding-top: 164px;
    padding-left: 174px;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__map-wrapper {
  margin-bottom: 42px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $bp-desktop) {
    position: absolute;
    top: 94px;
    right: 43px;
  }
}

.contacts__button {
  width: 81%;
  margin: auto;

  @media (min-width: $bp-tablet) {
    width: 230px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 79px;
    margin-left: 216px;
  }
}
