.contacts-table {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-direction: column;
}

.contacts-table__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
}

.contacts-table__cell-name {
  flex-shrink: 0;
  width: 29%;
}
