.contacts-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts-table__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-table__cell-name {
  flex-shrink: 0;
  width: 29%;
}
