.features {
  position: relative;

  display: flex;
  flex-direction: column;
}

.features__title {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 31px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: $bp-tablet) {
    letter-spacing: -0.7px;
    margin-top: 68px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 118px;

    font-size: 53px;
    line-height: 57px;
  }
}
