.features-list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.features-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &::before {
    content: url("../../img/icon-feature-ball.svg");
    top: 31px;
    left: 8px;

    width: 32px;
    height: 38px;
  }
}
