.form {
  line-height: 18px;
}

.form__list {
  @include list-reset;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $bp-desktop) {
      flex-direction: column;
    }

    &--has-wrapper {
      justify-content: space-between;

      @media (min-width: $bp-desktop) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &--about {
      flex-direction: column;
    }
  }
}

.form__list--has-wrapper .form__item--checkbox {
  width: 48%;

  @media (min-width: $bp-desktop) {
    width: 30%;
  }
}

.form__item {
  display: flex;

  &--about {
    flex-direction: column;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

  &--checkbox {
    margin-bottom: 19px;

    @media (min-width: $bp-tablet) {
      margin-bottom: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__group-wrapper {
  @media (min-width: $bp-tablet) {
    background-color: #f1f1f1;
  }
}

.form-group__title {
  position: relative;

  display: inline-block;
  margin-bottom: 21px;

  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: $bp-tablet) {
    float: left;
    width: 167px;
    margin-top: 19px;

    text-align: left;

    &::after {
      display: none;
    }
  }

  &--type {
    @media (min-width: $bp-tablet) {
      margin-top: 25px;
    }
  }

  @media (min-width: $bp-desktop) {
    width: 175px;

    text-align: center;
  }


  &--about {
    margin-bottom: 28px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;

    width: 198px;
    height: 1px;

    background-color: #62d1ba;
  }

  &--email::after {
    top: 6px;
    left: 82px;

    width: 178px;
  }
}

.form-group__icon {
  position: absolute;
  top: 32px;
  right: 8px;

  &--mail {
    right: 5px;
  }
}

.form__mark {
  margin-top: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form-group {
  position: relative;

  margin: 0;
  margin-top: 33px;
  padding: 0;

  border: none;

  @media (min-width: $bp-tablet) {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 33px;

    &--contacts {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: $bp-desktop) {
    justify-content: flex-start;
  }

  &--type {
    margin-top: 0;
  }

  &--more {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $bp-desktop) {
      justify-content: flex-start;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-group__label {
  position: relative;

  display: inline-block;

  cursor: pointer;

  &--radio {
    padding: 14px 30px 10px 63px;

    @media (min-width: $bp-tablet) {
      padding-top: 22px;
      padding-right: 30px;
      padding-bottom: 35px;
      padding-left: 81px;
    }
  }

  &--checkbox {
    padding: 14px 30px 10px 63px;

    @media (min-width: $bp-tablet) {
      padding-top: 16px;
      padding-bottom: 20px;
      padding-left: 81px;
    }
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid #444444;
    border-radius: 50%;

    &:hover {
      border-color: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      top: 7px;

      width: 52px;
      height: 52px;
    }
  }

  &--radio::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;

    display: none;
    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;

    @media (min-width: $bp-tablet) {
      top: 22px;
      left: 15px;

      width: 22px;
      height: 22px;
    }
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid #444444;

    @media (min-width: $bp-tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &--checkbox::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 9px;

    display: none;
    width: 20px;
    height: 10px;

    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    transform: rotate(-45deg);

    @media (min-width: $bp-tablet) {
      top: 15px;
      left: 10px;

      width: 31px;
      height: 17px;
    }
  }

  @media (min-width: $bp-tablet) {
    margin-right: 25px;

    font-size: 19px;
    line-height: 18px;
  }
}

.form-group__input {
  cursor: pointer;

  &--radio {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;

    &:checked + .form-group__label--radio::after {
      display: block;
    }

    &:hover + .form-group__label--radio::before {
      border-color: #62d1ba;
    }

    &:active + .form-group__label--radio::before {
      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  &--checkbox {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;

    &:checked + .form-group__label--checkbox::after {
      display: block;
    }

    &:hover + .form-group__label--checkbox::before {
      border-color: #62d1ba;
    }

    &:active + .form-group__label--checkbox::before {
      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  &--about {
    width: 100%;
    padding: 15px 0;

    border-top: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    border-left: none;

    &:hover {
      border-color: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      padding-left: 15px;
    }
  }

  &--contacts {
    width: 100%;
    padding-right: 40px;
    padding-bottom: 15px;

    border-top: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    border-left: none;

    &:hover {
      border-color: #62d1ba;
    }

    @media (min-width: $bp-tablet) {
      width: 500px;

      background-color: #f1f1f1;
    }

    @media (min-width: $bp-desktop) {
      width: 700px;
    }
  }
}

.form__submit {
  width: 100%;
  margin-top: 31px;

  @media (min-width: $bp-tablet) {
    width: 230px;
  }
}

.form-group__textarea {
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 15px;
  padding-bottom: 26px;

  border: 2px solid #444444;

  &:hover {
    border-color: #62d1ba;
  }

  @media (min-width: $bp-tablet) {
    width: 501px;
  }

  @media (min-width: $bp-desktop) {
    width: 700px;
  }
}

.form__footer {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $bp-tablet) {
    width: 700px;
    margin: 0 auto;
  }
}
