.main-nav {
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1050px;
  }
}

.main-nav__list {
  @include list-reset;

  border-top: 1px solid #ececec;

  &--user {
    border-top: none;
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    max-width: 340px;

    border: none;

    &--user {
      order: 2;
      max-width: 350px;

      background-color: #ffffff;
    }
  }

  @media (min-width: $bp-desktop) {
    order: 1;
    max-width: 400px;

    &--user {
      order: 3;
      margin-right: 3px;
    }
  }
}

.main-nav__item {
  border-bottom: 1px solid #ececec;

  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
    min-height: 60px;

    border: none;
  }

  &--catalog {
    @media (min-width: $bp-desktop) {
      border-right: 1px solid #ececec;
    }
  }
}

.main-nav__link {
  position: relative;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  @media (min-width: $bp-tablet) {
    width: 167px;
    padding: 0;

    font-size: 15px;

    &--search {
      width: 82px;
      min-height: 88px;

      font-size: 0;

      box-shadow: 0 0 1px #ececec;
    }

    &--cart {
      width: 264px;

      font-size: 17px;
      text-align: right;
    }
  }

  @media (min-width: $bp-desktop) {
    font-size: 17px;

    &--search {
      font-size: 0;
    }

    &--catalog {
      width: 184px;
    }

    &--form {
      width: auto;
      padding-left: 35px;
    }
  }
}

.main-nav__search-icon {
  position: absolute;
  top: 31px;
  left: 32px;

  opacity: 0.2;

  &:hover {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $bp-tablet) {
    top: 37px;
  }
}

.main-nav__cart-icon {
  position: absolute;
  top: 29px;
  left: 31px;

  opacity: 0.2;

  &:hover {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $bp-tablet) {
    top: 2px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 5%;
  right: 10%;

  width: 20px;
  height: 14px;
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

.main-nav__promo-list {
  display: none;

  @media (min-width: $bp-tablet) {
    @include list-reset;

    display: flex;
    order: 4;
  }

  @media (min-width: $bp-desktop) {
    width: 100%;
  }
}

.main-nav__promo-item {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media (min-width: $bp-desktop) {
    min-width: 178px;

    &--new {
      order: 1;
    }

    &--sell {
      justify-content: center;
      order: 2;
    }

    &--delivery {
      order: 3;
      margin-left: auto;
    }
  }
}

.main-nav__promo-link {
  display: none;

  @media (min-width: $bp-tablet) {
    font-weight: 400;
    font-size: 15px;

    &--delivery {
      display: block;
    }
  }

  @media (min-width: $bp-desktop) {
    display: block;

    font-weight: 700;

    &--delivery {
      font-weight: 400;
    }

    &--new {
      letter-spacing: 0.2px;
    }
  }
}
