.main-nav {
  line-height: 24px;
}

.main-nav__list {
  @include list-reset;

  border-top: 1px solid #ececec;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  position: relative;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
}

.main-nav__search-icon {
  position: absolute;
  top: 31px;
  left: 32px;
}

.main-nav__cart-icon {
  position: absolute;
  top: 30px;
  left: 31px;
}

.main-nav__search,
.main-nav__cart {
  border-bottom: 1px solid #ececec;
}

.main-nav__toggle {
  position: absolute;
  top: 5%;
  right: 10%;

  width: 20px;
  height: 14px;
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
}
