.manufacturing {
  margin-bottom: 60px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 63px;
  }
}

.manufacturing__inner {
  position: relative;

  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;

  @media (min-width: $bp-desktop) {
    align-items: flex-end;
  }
}

.manufacturing__title-wrapper {
  position: relative;

  padding: 7px 30px 9px 90px;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $bp-tablet) {
    padding-left: 105px;

    text-indent: 1px;

    &::before {
      top: 37px;
      left: 41px;
    }
  }

  @media (min-width: $bp-desktop) {
    max-width: 350px;
    padding: 0;
    padding-top: 94px;
    padding-right: 100px;
    padding-left: 61px;

    &::before {
      top: 47px;
      left: 62px;
    }
  }
}

.manufacturing__title {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-top: 31px;

    font-size: 20px;
  }

  @media (min-width: $bp-desktop) {
    margin: 0;
  }
}

.manufacturing__text {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $bp-tablet) {
    margin-top: 8px;
    margin-bottom: 37px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 47px;
  }
}

.manufacturing__player-container {
  border: 1px solid #ececec;
  position: relative;

  @media (min-width: $bp-tablet) {
    order: -1;
    min-height: 455px;
  }

  @media (min-width: $bp-desktop) {
    position: absolute;
    left: 0;

    min-width: 682px;
  }
}

.manufacturing-descriprion {
  padding: 13px 33px 32px;

  @media (min-width: $bp-tablet) {
    padding-right: 41px;
    padding-bottom: 44px;
    padding-left: 39px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 350px;
    padding: 19px 60px 32px;

    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__button {
  width: 100%;
}

.manufacturing__player-button {
  position: absolute;
  top: 50%;
  left: 50%;

  background: none;
  border: none;
  transform: translate(-50%, -50%);
}
