.manufacturing {
  padding: 0 30px;
}

.manufacturing__title {
  font-size: 17px;
  line-height: 24px;
}

.manufacturing__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
