.modal {
  padding: 0 30px;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.modal__legend {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}

.modal__label {
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.modal__form-group {
  margin-bottom: 30px;
}
