.modal {
  display: none;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 30px;

  border: 1px solid #c6c6c6;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal__legend {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}

.modal__label {
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.modal__form-group {
  margin-bottom: 30px;

  border: none;
}

.modal__submit {
  width: 100%;

  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}
