.page-footer {
  background-color: #fafafa;

  @media (min-width: $bp-desktop) {
    padding-bottom: 30px;
  }
}

.page-footer__logo-wrapper {
  display: none;

  @media (min-width: $bp-tablet) {
    display: block;
  }
}


.page-footer__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
    padding: 37px 0 30px;
    align-items: center;
  }
}
