.page-footer {
  background-color: #fafafa;
}

.page-footer__logo-wrapper {
  display: none;

  @media (min-width: $bp-tablet) {
    display: block;
  }
}


.page-footer__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
    padding: 33px 0 41px;
  }
}

.page-footer__icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
