.reviews {
  padding: 0 30px;
}

.reviews__quotation {
  margin: 0;
}

.reviews__title {
  line-height: 30px;
  font-size: 25px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author-name {
  line-height: 24px;
}

.reviews__author-nick {
  line-height: 30px;
  color: #444444;
  font-weight: 400;
}

.reviews__nav {
  margin-bottom: 40px;
}
