.special-table {
  margin-bottom: 30px;

  border-collapse: collapse;
  font-weight: normal;
  font-size: 15px;
  color: #444444;
}

.special-table__row {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;

  border-bottom: 1px solid #f1f1f1;
}

.special-table__cell {
  padding: 0;
}

.special-table__cell-name {
  width: 38%;
}
