.special {
  padding: 0 30px;
}

.special__title {
  font-size: 25px;
  line-height: 30px;
}

.special__tag {
  color: #63d1bb;
}

.special__description {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.special__price {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.special__image {
  width: 260px;
  height: 315px;
}
